@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@import "tailwindcss";
@plugin "daisyui";

body{
    font-family: "Sora", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme{
    --color-primary-color:#FFFFFF;
    --color-primary-dark-color:#000000;
}